body {
  font-family: "Caveat", cursive;
  font-family: "Sansita Swashed", cursive;
  background-color: #e9ecef;
}
h1 {
  font-size: 100px;
}
@media (max-width: 1200px) {
  h1 {
    font-size: xx-large;
  }
}
h1,
h2 {
  margin: auto;
  width: 700px;
  padding: 20px;
}

#search {
  padding: 5px 15px;
  background: rgb(202, 200, 98);
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 1200px) {
  .vid1,
  .vid2,
  .vid3 {
    width: 500px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  div {
    padding: 100px;
  }
}
@media (min-width: 1200px) {
  section {
    margin: auto;
    width: 60%;
    border: 5px solid #000000;
    padding: 10px;
  }
}

#submit2 {
  padding: 5px 15px;
  background: rgb(166, 59, 216);
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  transition: 2s;
}

#submit2:hover {
  padding: 5px 15px;
  background: rgb(202, 200, 98);
  border: 0 none;
  cursor: pointer;

  border-radius: 5px;
}
@media (min-width: 1200px) {
  #bot {
    margin: auto;
    width: 20%;
  }
}
#map {
  margin: auto;
  width: 50%;
}
